@font-face {
  font-family: 'digital-7';
  src: url('../fonts/digital-7-monoitalic.ttf');
}
* {
  user-select: none;
}
html, body {height: 100%;}
#ci-name, #ci-phone {user-select: text;}
.ajax-loader {
  background-color: black;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  z-index: 999;
  transition: opacity .5s;
}
.ajax-loader-img {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('images/ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 999;
}
.ajax-loader-hide {
  opacity: 0;
}
.ajs-content {
  font-size: 14px;
}
.ajs-error {
  color: white;
}
.ajs-header {
  font-size: 14px;
  font-weight: bold;
}
.ajs-success {
  color: white;
}
.branch-title {
  background-image: radial-gradient(#ff8080, #800000);
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
.btn-reg {
  color: white;
  font-size: 24px;
  text-shadow: 3px 3px 4px black;
}
.btn-reg:hover {
  color: white;
}
.btn-reg:active {
  color: white;
}
.card-body input + input,.card-body button, .card-body select {
  margin-top: 10px;
}
.center-button {
  display: block;
  text-align: center;
}
.dark-theme {
  background: #202020;
  color: white;
}
.dark-theme .card-header {
  background-color: #303030;
}
.dark-theme .card-body {
  background-color: #101010;
}
.dark-theme .table {
  color: white;
}
.dark-theme .table tr:hover {
  background-color: #404040;
  color: white;
}
.dark-theme .modal-content {
  background-color: #101010;
  border: 1px solid rgba(0, 255, 0, .5);
}
.display-container {
  padding: 10px;
}
.display-header-line {
  border-bottom: 10px solid #18b2ee;
  padding: 10px;
  margin-bottom: 10px;
}
.cursor {
  cursor: default !important;
}
.header-image {
  content: url('../img/logo-indoprinting-400x92.png');
  width: 400px;
}
.display-header-branch {
  font-family: 'arial black';
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  text-shadow: 3px 3px 5px yellow;
}
.display-header-datetime {
  color: black;
  font-family: 'digital-7';
  font-size: 40px;
  font-weight: bold;
  text-align: right;
  -webkit-text-stroke: 1px black;
}
.marquee {
  background: rgba(0, 0, 0, .8);
  bottom: 20px;
  color: white;
  position: fixed;
  font-size: 30px;
  font-weight: bold;
  left: 0px;
  padding: 10px;
  width: 100%;
}
.no-records-found {display: none;}
.popup {
  background-color: rgba(0, 0, 0, .5);
  display: block;
  left: 0;
  top: 0;
  padding-top: 100px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: popupback linear .4s;
  transition: all .5s linear;
}
.popup-body {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}
.popup-content {
  background-image: linear-gradient(rgba(255, 255, 255, 1), #101010, #101010, #101010, #101010, #101010, #101010, #101010);
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  color: white;
  margin: auto;
  padding: 0px;
  position: relative;
  width: 50%;
  animation: popupshow linear .4s;
}
.popup-footer {
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 10px;
  text-align: center;
}
.popup-header {
  font-weight: bold;
  font-size: 36px;
  padding-top: 10px;
  text-align: center;
}
.popup-hidden {
  display: none;
}
.popup-hide {
  opacity: 0;
}
.popup-show {
  opacity: 1;
}
.popup-fadeout {
  animation: popuphide linear .4s;
}
.counter-table, .waiting-table, .skip-table {
  width: 100%;
}
.counter-table td,
.counter-table th,
.waiting-table td,
.waiting-table th,
.skip-table td,
.skip-table th {
  padding: 10px;
  text-align: center;
}
.table-header {
  background-color: #110f50;
  text-shadow: 3px 3px 5px black;;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.counter-list td, .waiting-list td, .skip-list td {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}
.counter-list tr:nth-child(odd) > td,
.waiting-list tr:nth-child(odd) > td,
.skip-list tr:nth-child(odd) > td {
  background: white;
  color: black;
}
.counter-list tr:nth-child(even) > td,
.waiting-list tr:nth-child(even) > td,
.skip-list tr:nth-child(even) > td {
  background: #cbebfa;
  color: black;
}
.counter-table th, .waiting-table th, .skip-table th {
  background-image: linear-gradient(rgba(255,255,255,.8), #00adef, #00adef, #00adef, #00adef);
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  text-shadow: 3px 3px 5px black;
}
.text-lime {
  color: lime;
}
.text-yellow {
  color: yellow;
}
.transparent-black {
  background-color: rgba(0,0,0,.8);
  border: 1px solid rgba(255,255,255,.9);
}
.transparent-black .card-header {
  background-color: rgba(0,0,0,.8);
  border-bottom: 1px solid rgba(255,255,255,.9);
  color: white;
  user-select: none;
}
@keyframes popupshow {
  0% {top:-500px; opacity:0;}
  100% {top: 0; opacity:1;}
}
@keyframes popuphide {
  0% {top: 0; opacity:1;}
  100% {top:-500px; opacity:0;}
}
@keyframes popupback {
  0% {opacity: 0}
  100% {opacity:1}
}
