@font-face {
  font-family: 'DejaVu Sans';
  src: url(../fonts/DejaVuSans/DejaVuSans.ttf);
}

@font-face {
  font-family: 'DejaVu Sans Bold';
  src: url(../fonts/DejaVuSans/DejaVuSans-Bold.ttf);
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

table.dataTable tbody td {
  vertical-align: middle;
}

table.dataTable tbody tr {
  background-color: inherit;
}

#sidebar-overlay {
  z-index: 1;
}

.dark-mode option {
  background: #343a40;
}

.dark-mode .bg-gradient-primary2 {
  background: #007bff linear-gradient(180deg, #268fff, #007bff) repeat-x !important;
  color: #fff;
}

.dark-mode .bg-gradient-primary2.btn:hover {
  background: #007bff linear-gradient(180deg, #267fde, #0069d9) repeat-x !important;
  border-color: #0062cc;
  color: #ececec;
}

.dark-mode .bg-gradient-primary2.btn.active,
.dark-mode .bg-gradient-primary2.btn:active,
.dark-mode .bg-gradient-primary2.btn:not(:disabled):not(.disabled).active,
.dark-mode .bg-gradient-primary2.btn:not(:disabled):not(.disabled):active {
  background: #007bff linear-gradient(180deg, #267ad4, #0062cc) repeat-x !important;
  border-color: #005cbf;
  color: #fff;
}

.dark-mode .dataTables_wrapper .dataTables_filter input {
  color: #fff;
}

.dark-mode .ql-editor.ql-blank::before {
  color: rgba(240, 240, 240, 0.6);
}

.dark-mode .ql-snow .ql-picker .ql-picker-label {
  color: #fff;
}

.dark-mode .ql-snow .ql-stroke {
  stroke: #fff;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: inherit;
}

.custom-file-label {
  z-index: 0;
}

.icheckbox_square-blue,
.iradio_square-blue {
  margin: 0 4px 0 0;
}

@media print {

  .invoice {
    border: none;
  }
}

.invoice {
  border: none;
}

.layout-navbar-fixed .wrapper .main-header {
  z-index: 1;
}

.main-sidebar {
  z-index: 2;
}

.modal-footer {
  padding: .1rem;
}

.modal-header {
  padding: .5rem;
}

.nav-sidebar .menu-is-opening>.nav-link i.right,
.nav-sidebar .menu-open>.nav-link i.right {
  transform: rotate(90deg);
}

.os-padding {
  z-index: inherit;
}

.text-sm .brand-link {
  font-size: 1.25rem;
}

.text-sm .custom-file-label {
  height: calc(1.8125rem + 2px);
  padding: .29rem .75rem;
}

.text-sm .custom-file-label::after {
  padding: .29rem .75rem;
}

@media only screen and (min-width: 480px) {
  .bottom-navigation {
    display: none;
  }
}